.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAF9EF;
  &__main {
    margin: 0 0 75px;
    flex-grow: 1;
  }
  &__aside {
    display: none;
    &_open {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 300px;
    }
  }
}