.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAF9EF;
  &__main {
    margin: 0 0 75px;
    flex-grow: 1;
  }
  &__aside {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    width: 300px;
    right: -300px;
    transform: translate3d(0, 0, 0);
    transition: right 0.3s;
    &_open {
      transition: right 0.6s;
      right: 0;
    }
  }
  &_hidden {
    overflow: hidden;
  }
}