@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}

.img-wrapper {
  height: 210px;
  width: 100%;
  display: flex;
  align-items: center;
}

.price-char:nth-last-child(3n) {
  padding-left: 0.5rem;
}

@import 'page/page.scss';
@import 'header/header.scss';
@import 'nav/nav.scss';
@import 'aside/aside.scss';
@import 'contact/contact.scss';
@import 'search/search.scss';
@import 'card/card.scss';
@import 'rooms/rooms.scss';
@import 'main/main.scss';
@import 'footer/footer.scss';
@import 'form/form.scss';