.search {
  width: 100vw;
  max-width: 1280px;
  &__result {
    font-size: 3rem;
    margin: 3rem 0 3rem 7rem;
  }
}

@media (max-width: 1023px) {
  .search {
    &__result {
      margin: 1rem 27px;
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 410px) {
  .search {
    &__result {
      margin: 1rem 20px;
    }
  }
}