doctype html
html(lang='ru')
  include head/head
  body.page
    include header/header
    include aside/aside
    section.search 
      h2.search__result Найдено 666 квартир
    main.main.page__main
      div.main__sort
        span Сортировать по:
        span.main__sort_price(data-direction='ascend')  Цене
        span.main__sort_rooms(data-direction='ascend') Комнатам
      section.rooms
        include rooms/rooms
      button#more.main__more-btn показать еще 20
    include footer/footer
    script(src="index.js")