doctype html
html(lang='ru')
  include head/head
  body.page
    include header/header
    include aside/aside
    section.search
      if overall
        h2.search__result
          | Найдено 
          span.overall= overall
          |  квартир
      else
        h2.search__result Ничего не найдено
    main.main.page__main
      div.main__sort
        span Сортировать по:
        div
          a.main__sort_price(data-direction='ascend')  Цене
          a.main__sort_rooms(data-direction='ascend') Комнатам
      section.rooms
      if overall
        button#more.main__more-btn показать еще 20
    include footer/footer
    script(defer, src="https://unpkg.com/vanilla-back-to-top@7.1.14/dist/vanilla-back-to-top.min.js")
    script(defer, src="index.js")