footer.footer.page__footer
  div.footer__slogan
    h2.footer__title Успей купить!
    p.footer__desc Подпишись и успей словить все акции
  div.footer__form
    form.form
      div.form__group.form__group_email
        label.form__label(for="email") email
        input#email.form__input(type="email" name="email" placeholder="E-mail" required)
      div.form__group.form__group_submit
        button.form__button(type="submit") подписаться
      div.form__group.form__group_news
        label.form__label_news(for="news") подписаться на новости
        input#news.form__input_checkbox(type="checkbox" name="news" checked)
        span.form__custom-checkbox