.rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__card {
    margin: 27px 24px;
  }
}

@media (max-width: 375px) {
  .rooms {
    &__card {
      margin: 27px 0;
    }
  }
}